body {
  margin: 0px;
  padding: 0px;
  background-color: #CFD0E6;
}
#myname{
  float: left;
  color: #CFD0E6;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 30px;
}
.navigation {
  margin: 0px;
  background-color: #24285C;
  position: fixed;
  height: 90px;
  width: 100%;
  /*opacity: .9;*/
  font-family: sans-serif;
  z-index: 1;
}
.button {
  display: inline-block;
  float: right;
  height: 30px;
  width: 110px;
  margin-top: 60px;
  margin-right: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #9192B5;
  text-align: center;
  line-height: 30px;
}
#current {
  background-color: #CFD0E6;
}
.button:hover {
  color: blue;
  border-color: red;
}
.stuff {
  position: absolute;
  margin: 80px;
  margin-top: 120px;
}
.description {
  margin: 0% 0% 50% 0%;
  font-size: 14pt;
}
